doctype html
html
  head
    title= title
    
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
    
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/favicon.ico' type='image/x-icon')
  
  body
    if currentUser
      h6.bg-dark.text-white(style='text-align: right;') Welcome Back #{currentUser.username}  
        span(style='font-size:0.8em')
          a(href="/log-out") (Log Out)
    else      
      form(action="/log-in" method="POST")
        .d-flex.justify-content-end.bg-dark
          .col.text-danger.flex-grow-1= loginmsg
          .col.text-white LogIn/
              a(href="/registerJQuery") Register
          .col
            input.form-control.form-control-sm(name="username" placeholder="Username" type="text")
          .col
            input.form-control.form-control-sm(name="password" placeholder="password" type="password")
          .col.mr-1
            button.btn.btn-info.btn-sm Log In
          
  .jumbotron
    h1 Welcome to Travel Experts
  block content
